SilverlightDataEntry/Service References/SearchService/SearchData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38264/SearchData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38264/SearchData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38264/SearchData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightDataEntry.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchData_GetSearchData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchData" />
  </wsdl:message>
  <wsdl:message name="ISearchData_GetSearchData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSearchDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchData_UpdateConsumer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConsumer" />
  </wsdl:message>
  <wsdl:message name="ISearchData_UpdateConsumer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchData_UpdateConsumerAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConsumerAddress" />
  </wsdl:message>
  <wsdl:message name="ISearchData_UpdateConsumerAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateConsumerAddressResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchData">
    <wsdl:operation name="GetSearchData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchData/GetSearchData" message="tns:ISearchData_GetSearchData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchData/GetSearchDataResponse" message="tns:ISearchData_GetSearchData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConsumer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchData/UpdateConsumer" message="tns:ISearchData_UpdateConsumer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchData/UpdateConsumerResponse" message="tns:ISearchData_UpdateConsumer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateConsumerAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchData/UpdateConsumerAddress" message="tns:ISearchData_UpdateConsumerAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchData/UpdateConsumerAddressResponse" message="tns:ISearchData_UpdateConsumerAddress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchData" type="tns:ISearchData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSearchData">
      <soap:operation soapAction="http://tempuri.org/ISearchData/GetSearchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConsumer">
      <soap:operation soapAction="http://tempuri.org/ISearchData/UpdateConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateConsumerAddress">
      <soap:operation soapAction="http://tempuri.org/ISearchData/UpdateConsumerAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchData">
    <wsdl:port name="BasicHttpBinding_ISearchData" binding="tns:BasicHttpBinding_ISearchData">
      <soap:address location="http://localhost:38264/SearchData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>